lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
.idea
*.swp
*.swo
*.swn
*.swm
*.orig
*.local
.DS_Store
.vscode

*_package*
npm-debug.log
node_modules
package-lock.json
yarn.lock
coverage

/mocks/handlebars-component/_compile-static-package6/